### 1. Library

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings(action='ignore')

### 2. USD, CHF, GBP, CAD, EUR

In [3]:
# Data 불러오기
WC = pd.read_csv('./data/DAILY_DATA.csv')

In [4]:
# 기축통화량 가져오기
WC = WC[['date', 'USD', 'CHF', 'GBP', 'CAD', 'EUR']].set_index('date')

### 3. International Balance

In [5]:
# Data 불러오기
IB = pd.read_csv('./data/International Ballance.csv', header=0)

In [6]:
# Transpose 하기
IB = IB.T[1:]

In [7]:
# Columns 이름 지정해주기
IB.columns = ['International_Balance']

In [8]:
# Index Columns으로 추가하기
IB['date2'] = IB.index

In [9]:
# 기축 통화량의 날짜 Index로 추가하기
WC['date'] = WC.index
WC['date2'] = WC.index

In [10]:
# 기축통화량의 date2를 년월로 바꾸기
WC.date2 = WC.date2.apply(lambda x : x[0:7])

In [11]:
# 기축통화량과 국제수지 합치기
data = pd.merge(WC, IB, on='date2')

In [12]:
# date2 제거하기
del data['date2']

In [13]:
# 원래 Index 날짜로 되돌리기
data = data.set_index('date')

### Final Dataset

In [14]:
data

               USD      CHF      GBP      CAD      EUR International_Balance
date
2010-01-04  1161.0  1128.17  1883.46  1110.15  1673.46               -1799.6
2010-01-05  1147.3  1122.31  1860.44  1109.76  1665.97               -1799.6
2010-01-06  1141.4  1106.67  1829.39  1101.19  1643.96               -1799.6
2010-01-07  1132.0  1107.41  1822.54  1102.69  1639.52               -1799.6
2010-01-08  1134.1  1095.46  1804.73  1095.51  1621.38               -1799.6
...            ...      ...      ...      ...      ...                   ...
2019-11-25  1177.8  1180.34  1512.94   885.60  1298.11                5970.2
2019-11-26  1176.2  1180.15  1517.36   884.19  1295.29                5970.2
2019-11-27  1174.4  1177.28  1510.63   884.67  1294.48                5970.2
2019-11-28  1176.0  1177.65  1521.45   885.08  1294.13                5970.2
2019-11-29  1179.3  1180.95  1522.71   888.16  1298.47                5970.2

[2453 rows x 6 columns]